<div id="<%= dom_id progress %>">
  <p>
    <strong>Date:</strong>
    <%= progress.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= progress.status %>
  </p>

  <p>
    <strong>Habit:</strong>
    <%= progress.habit_id %>
  </p>

</div>
